// typography
.heading-primary{
    font-family: $ff-sourcepro;
    font-size: 54px;
    color: #444;
    font-weight: 600;
    line-height: 1.1;

    @include respond(tab-land){
        font-size: 48px;
    }
    @include respond(tab-port){
        font-size: 40px;
    }
    @include respond(phone){
        font-size: 32px;
    }
}
.primary-text{
    font-family: $ff-sourcepro;
    font-size: 22px;
    color: #444;
    line-height: 1.7;
    width: 80%;
    @include respond(phone){
        width: 100%;
        font-size: 18px;
    }
}
.heading-secondary{
    font-family: $ff-sourcepro;
    font-size: 48px;
    color: #444;
    font-weight: 600;
    @include respond(tab-land){
        font-size: 42px;
    }
    @include respond(tab-port){
        font-size: 40px;
    }
    @include respond(phone){
        font-size: 28px;
    }
}
.heading-tertiary{
    font-family: $ff-sourcepro;
    font-size: 22px;
    color: #444;
    width: 80%;
    @include respond(phone){
        font-size: 20px;
    }
}
.text-paragraph{
    font-family: $ff-sourcepro;
    font-size: 18px;
    color: #444;
    line-height: 1.7;
}

// buttons
.btn{
    position: relative;
    display: inline-block;
    font-family: $ff-sourcepro;
    
    &:focus{
        outline: 0;
    }
    &:active{
        outline: 0;
    }

    &-primary{
        background: $primary-color;
        color: #fff;
        font-weight: bold;
        width: 150px;
        padding: 10px;
        border: 2px solid $primary-color;
        text-align: center;
        font-size: 18px;

        @include respond(phone){
            font-size: 16px;
            width: 120px;
            padding: 8px;
        }
    }
    &-outline{
        border: 2px solid $primary-color;
        color: $primary-color;
        font-weight: bold;
        width: 150px;
        padding: 10px;
        text-align: center;
        font-size: 18px;
        
        @include respond(phone){
            font-size: 16px;
            width: 120px;
            padding: 8px;
        }
    }
}