@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,600&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700&display=swap');

$ff-nunito: 'Nunito', sans-serif;
$ff-sourcepro: 'Source Sans Pro', sans-serif;

$primary-color: #2E539D;
$bg-color: #ECF2FF