@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,600&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.header {
  width: 100%;
  min-height: 100vh;
  background-color: #F2DED4;
}

.header .logo {
  width: 80%;
  margin: 0 auto;
  padding-top: 40px;
  font-size: 1.8rem;
  color: #FF8383;
  font-family: "Source Sans Pro", sans-serif;
  font-style: italic;
}

@media only screen and (max-width: 37.5em) {
  .header .logo {
    padding-top: 20px;
  }
}

.header-container {
  width: 80%;
  padding: 40px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

@media only screen and (max-width: 56.25em) {
  .header-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 37.5em) {
  .header-container {
    flex-direction: column;
  }
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  flex-direction: column;
}

.header-img img {
  width: 500px;
}

@media only screen and (max-width: 75em) {
  .header-img img {
    width: 480px;
  }
}

@media only screen and (max-width: 56.25em) {
  .header-img img {
    width: 100%;
  }
}

.header-btns {
  display: flex;
  gap: 25px;
}

.feature {
  width: 100%;
  background-color: #EFEFEF;
  padding: 30px 0;
}

.feature-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media only screen and (max-width: 56.25em) {
  .feature-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 37.5em) {
  .feature-container {
    flex-direction: column;
  }
}

.feature-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.feature-right {
  width: 100%;
}

.feature-right-points {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.feature-right-point {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.feature-right-point img {
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 37.5em) {
  .feature-right-point img {
    margin-top: 10px;
    width: 35px;
    height: 35px;
  }
}

.showcase {
  width: 100%;
  padding: 30px 0;
  background-color: #fff;
}

.showcase-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media only screen and (max-width: 56.25em) {
  .showcase-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 37.5em) {
  .showcase-container {
    flex-direction: column;
  }
}

.showcase-img {
  width: 100%;
}

.showcase-img img {
  width: 600px;
}

@media only screen and (max-width: 75em) {
  .showcase-img img {
    max-width: 500px;
    width: 100%;
  }
}

@media only screen and (max-width: 56.25em) {
  .showcase-img img {
    width: 100%;
  }
}

.showcase-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.testimonial {
  position: relative;
  width: 100%;
  padding: 30px;
  background-color: #EFEFEF;
}

.testimonial-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.testimonial .slider {
  position: relative;
  display: none;
}

.testimonial .slider.active {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}

.testimonial .slider-img {
  animation: scale-up-center .5s ease-in;
}

.testimonial .slider .rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.testimonial .slider .rating img {
  width: 30px;
}

@media only screen and (max-width: 37.5em) {
  .testimonial .slider .rating img {
    width: 18px;
  }
}

.testimonial .slider-heading {
  font-style: italic;
  text-align: center;
  color: #505050;
  font-weight: normal;
  font-size: 32px;
  width: 80%;
}

@media only screen and (max-width: 37.5em) {
  .testimonial .slider-heading {
    font-size: 24px;
    width: 100%;
  }
}

.testimonial-btn {
  position: absolute;
  transition: all 0.2s;
}

.testimonial-btn:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 37.5em) {
  .testimonial-btn {
    transform: scale(0.6);
  }
}

.testimonial-left {
  top: 50%;
  left: 0;
}

@media only screen and (max-width: 37.5em) {
  .testimonial-left {
    left: -50px;
  }
}

.testimonial-right {
  top: 50%;
  right: 0;
}

@media only screen and (max-width: 37.5em) {
  .testimonial-right {
    right: -50px;
  }
}

.cta {
  width: 100%;
  padding: 30px;
  background: #F2DED4;
}

.cta-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.footer {
  padding-top: 60px;
  text-align: center;
}

.heading-primary {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 64px;
  color: #373737;
  font-weight: 600;
  line-height: 1.1;
}

@media only screen and (max-width: 75em) {
  .heading-primary {
    font-size: 52px;
  }
}

@media only screen and (max-width: 56.25em) {
  .heading-primary {
    font-size: 48px;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-primary {
    font-size: 42px;
  }
}

.primary-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: #373737;
  line-height: 1.7;
  width: 80%;
}

.heading-secondary {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 48px;
  color: #3d3d3d;
  font-weight: 600;
}

@media only screen and (max-width: 75em) {
  .heading-secondary {
    font-size: 42px;
  }
}

@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 40px;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 32px;
  }
}

.text-paragraph {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: #373737;
  line-height: 1.7;
}

.btn {
  position: relative;
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  outline: 0;
}

.btn-primary {
  background: #FF8383;
  color: #fff;
  font-weight: bold;
  width: 150px;
  padding: 10px;
  border: 2px solid #FF8383;
  text-align: center;
  font-size: 18px;
  transition: all 0.2s;
}

.btn-primary:hover {
  background-color: #F2DED4;
  color: #FF8383;
}

@media only screen and (max-width: 37.5em) {
  .btn-primary {
    font-size: 16px;
    width: 120px;
    padding: 8px;
  }
}

.btn-outline {
  border: 2px solid #FF8383;
  color: #FF8383;
  font-weight: bold;
  width: 150px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  transition: all 0.2s;
}

.btn-outline:hover {
  background-color: #FF8383;
  color: #fff;
}

@media only screen and (max-width: 37.5em) {
  .btn-outline {
    font-size: 36px;
  }
}

@media only screen and (max-width: 37.5em) {
  .btn-outline {
    font-size: 16px;
    width: 120px;
    padding: 8px;
  }
}
/*# sourceMappingURL=main.css.map */