@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,600&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header {
  width: 100%;
  padding: 40px;
}

@media only screen and (max-width: 37.5em) {
  .header {
    padding: 20px;
  }
}

.header .logo {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 40px;
  font-size: 20px;
  color: #2E539D;
  font-family: "Source Sans Pro", sans-serif;
}

.header-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 30px;
}

@media only screen and (max-width: 56.25em) {
  .header-container {
    flex-direction: column;
    gap: 60px;
  }
}

@media only screen and (max-width: 37.5em) {
  .header-container {
    flex-direction: column;
  }
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-direction: column;
}

.header-points {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header-point {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

@media only screen and (max-width: 37.5em) {
  .header-point {
    gap: 15px;
  }
}

.header-point img {
  width: 40px;
}

@media only screen and (max-width: 37.5em) {
  .header-point img {
    flex-direction: column;
    width: 30px;
  }
}

.header-img img {
  width: 500px;
}

@media only screen and (max-width: 75em) {
  .header-img img {
    width: 480px;
  }
}

@media only screen and (max-width: 56.25em) {
  .header-img img {
    width: 100%;
  }
}

.header-btns {
  display: flex;
  gap: 25px;
}

.feature {
  width: 100%;
  background-color: #ECF2FF;
  padding: 30px 0;
  text-align: center;
}

.feature-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

@media only screen and (max-width: 56.25em) {
  .feature-container {
    padding-top: 30px;
    flex-direction: column;
  }
}

.feature .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

@media only screen and (max-width: 56.25em) {
  .feature .item {
    gap: 10px;
  }
}

@media only screen and (max-width: 37.5em) {
  .feature .item img {
    transform: scale(0.8);
  }
}

.feature .item p {
  width: 78%;
}

@media only screen and (max-width: 56.25em) {
  .feature .item p {
    width: 90%;
  }
}

.showcase {
  width: 100%;
  padding: 30px 0;
  background-color: #fff;
}

.showcase-bg {
  background-color: #ECF2FF;
}

.showcase-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

@media only screen and (max-width: 56.25em) {
  .showcase-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 37.5em) {
  .showcase-container {
    flex-direction: column;
  }
}

.showcase-img {
  width: 100%;
}

.showcase-img img {
  width: 600px;
}

@media only screen and (max-width: 75em) {
  .showcase-img img {
    max-width: 500px;
    width: 100%;
  }
}

@media only screen and (max-width: 56.25em) {
  .showcase-img img {
    width: 100%;
  }
}

.showcase-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.pricing {
  width: 100%;
  padding: 30px 0;
}

.pricing > h1 {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.pricing-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 30px;
  background-color: #ECF2FF;
  padding: 60px 0;
}

@media only screen and (max-width: 37.5em) {
  .pricing-container {
    flex-direction: column;
    padding: 30px 0;
  }
}

.pricing .price-box {
  flex: 1;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: column;
}

.pricing .price {
  font-size: 75px;
  font-family: "Source Sans Pro", sans-serif;
  color: #444;
}

.pricing-content {
  flex: 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.pricing-content p {
  width: 80%;
}

@media only screen and (max-width: 37.5em) {
  .pricing-content p {
    width: 100%;
  }
}

@media only screen and (max-width: 37.5em) {
  .pricing-content {
    padding: 0 20px;
  }
}

.testimonial {
  width: 100%;
  background-color: #ECF2FF;
  padding: 45px 0;
}

.testimonial-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media only screen and (max-width: 56.25em) {
  .testimonial-container {
    flex-direction: column;
    gap: 45px;
  }
}

.testimonial-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.testimonial-card img {
  width: 100%;
}

.testimonial-card p {
  font-style: italic;
  width: 80%;
  text-align: center;
}

.testimonial .rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

@media only screen and (max-width: 37.5em) {
  .testimonial .rating img {
    transform: scale(0.7);
  }
}

.final-cta {
  width: 100%;
  padding: 30px 0;
}

.final-cta-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 30px;
}

@media only screen and (max-width: 56.25em) {
  .final-cta-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 37.5em) {
  .final-cta-container {
    flex-direction: column;
  }
}

.final-cta-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-direction: column;
}

@media only screen and (max-width: 56.25em) {
  .final-cta-content {
    order: 2;
  }
}

.final-cta-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.final-cta-img img {
  width: 80%;
}

@media only screen and (max-width: 56.25em) {
  .final-cta-img {
    order: 1;
  }
}

.final-cta-btns {
  display: flex;
  gap: 15px;
}

.footer {
  width: 90%;
  margin: auto;
  padding: 30px 20px;
  text-align: center;
}

.footer p {
  text-align: center;
  font-size: 16px;
}

.heading-primary {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 54px;
  color: #444;
  font-weight: 600;
  line-height: 1.1;
}

@media only screen and (max-width: 75em) {
  .heading-primary {
    font-size: 48px;
  }
}

@media only screen and (max-width: 56.25em) {
  .heading-primary {
    font-size: 40px;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-primary {
    font-size: 32px;
  }
}

.primary-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  color: #444;
  line-height: 1.7;
  width: 80%;
}

@media only screen and (max-width: 37.5em) {
  .primary-text {
    width: 100%;
    font-size: 18px;
  }
}

.heading-secondary {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 48px;
  color: #444;
  font-weight: 600;
}

@media only screen and (max-width: 75em) {
  .heading-secondary {
    font-size: 42px;
  }
}

@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 40px;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 28px;
  }
}

.heading-tertiary {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  color: #444;
  width: 80%;
}

@media only screen and (max-width: 37.5em) {
  .heading-tertiary {
    font-size: 20px;
  }
}

.text-paragraph {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: #444;
  line-height: 1.7;
}

.btn {
  position: relative;
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  outline: 0;
}

.btn-primary {
  background: #2E539D;
  color: #fff;
  font-weight: bold;
  width: 150px;
  padding: 10px;
  border: 2px solid #2E539D;
  text-align: center;
  font-size: 18px;
}

@media only screen and (max-width: 37.5em) {
  .btn-primary {
    font-size: 16px;
    width: 120px;
    padding: 8px;
  }
}

.btn-outline {
  border: 2px solid #2E539D;
  color: #2E539D;
  font-weight: bold;
  width: 150px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

@media only screen and (max-width: 37.5em) {
  .btn-outline {
    font-size: 16px;
    width: 120px;
    padding: 8px;
  }
}
/*# sourceMappingURL=main.css.map */