// typography
.logo{
    font-family: $ff-sourcepro;
    font-size: 20px;
    color: $primary-color;
    padding-bottom: 20px;
}
.heading-primary{
    font-family: $ff-sourcepro;
    font-size: 84px;
    color: #3d3d3d;
    font-weight: bold;
    line-height: 1;

    @include respond(tab-land){
        font-size: 56px;
    }
    @include respond(tab-port){
        font-size: 56px;
    }
    @include respond(phone){
        font-size: 42px;
    }
}
.primary-text{
    font-family: $ff-sourcepro;
    font-size: 22px;
    color: #3d3d3d;
    line-height: 1.7;
    width: 80%;
    @include respond(phone){
        width: 100%;
        font-size: 18px;
    }
}
.heading-secondary{
    font-family: $ff-sourcepro;
    font-size: 48px;
    color: #3d3d3d;
    font-weight: 600;
    @include respond(tab-land){
        font-size: 42px;
    }
    @include respond(tab-port){
        font-size: 40px;
    }
    @include respond(phone){
        font-size: 28px;
    }
}
.heading-tertiary{
    font-family: $ff-sourcepro;
    font-size: 22px;
    color: #3d3d3d;
    width: 80%;
    @include respond(phone){
        font-size: 20px;
    }
}
.text-paragraph{
    font-family: $ff-sourcepro;
    font-size: 18px;
    color: #646464;
    line-height: 1.7;
}

// buttons
.btn{
    position: relative;
    display: inline-block;
    font-family: $ff-sourcepro;
    
    &:focus{
        outline: 0;
    }
    &:active{
        outline: 0;
    }

    &-primary{
        border-radius: 5px;
        background: $primary-color;
        color: #fff;
        font-weight: bold;
        width: 150px;
        padding: 10px;
        border: 2px solid $primary-color;
        text-align: center;
        font-size: 18px;
        transition: 0.2s;

        &:hover{
            border: 2px solid $primary-color;
            color: $primary-color;
            background-color: transparent;
        }

        @include respond(phone){
            font-size: 16px;
            width: 120px;
            padding: 8px;
        }
    }
}